HF_TOKEN=your_huggingface_token
HF_ENDPOINT=your_huggingface_inference_endpoint
AZURE_OPENAI_API_KEY=your_azure_openai_api_key
AZURE_OPENAI_API_VERSION=your_azure_api_version_of_choice
AZURE_OPENAI_ENDPOINT=your_azure_openai_endpoint